[submodule "tools/twinsanity-editor"]
	path = tools/twinsanity-editor
	url = https://github.com/Smartkin/twinsanity-editor.git
[submodule "tools/twinsanity-reversed"]
	path = tools/twinsanity-reversed
	url = https://github.com/Smartkin/twinsanity-reversed.git
